<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>

<div class='item-contents'>
    <h2 class='title'>出品検索</h2>
    <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form-like") do |form| %>
  <%= form.text_field :keyword, placeholder: "出品検索", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
    <ul class='item-lists'>
  <% @items.each do |item| %>
  <li class='list'>
    <%= image_tag item.image, class:"item-img" %>
    <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
  </li>
  <% end %>
 </ul>
  </div>
</div>

<%= render "shared/footer" %>